body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.font-white-bold {
    color: #00bfff;
    font-family: muli, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-white {
    color: white;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-white-center {

    color: white;
    font-family: muli, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: justify;
}

.font-black-400 {

    color: black;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-black-200 {
    color: black;
    font-family: muli, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size:12px;
}


.font-white_tittle {
    color: white;
    font-family: muli, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;    
}

.logo { 
    padding-top: 18px;
    width: 180px; 
    height: 32px; 
    margin: 10px; 
    float: left; 
}

.menu {
    width: 400px;
    height: 50px;
    margin: 10px;
    float: right;
}

.menu ul li {    
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    display: inline-block;
}

.wrapper {
    display: grid;
    grid-template-areas:

      "brands"
      "sidebar"
      "content__bar"
      "section__opinion_flex"
;
  }





.brands{
    grid-area: brands;
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 25px;    
    background-color: #99A5DF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;        
}

.sidebar {
    margin-top: 50px;
    grid-area: sidebar;

    height: 200px;
    margin-left: 50px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.content__bar {
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 50px;
    grid-area: content__bar;

    height: 200px;  
    margin-right: 50px;
}

.image__100 {
    width: 50%;
}

.section__opinion_flex {
    grid-area: section__opinion_flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.section__opinion_flex .box__opinion_flex{
    
    margin-top: 40px;
  /*  width: 300px;         
    height: 130px;*/
    background-color: #dcdcdc;
   
    display: flex;
    flex-direction: row;

}

.section_tech {

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;

    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.section__news_flex {

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:50px;
    padding-right: 50px;

    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
}




.background {

    background-image: url('./assets/images/background-TS.png');
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-end;
    margin-right: 0px;

}

.background .logo-tech {
    padding: 8px;
    margin: 20px;
    margin-bottom: 100px;

}

.background .logo-tech .image_tech {
    width: 50px;
}


.button {
    width: 80px;
    height: 30px;
    background-color: #99A5DF;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: double;
    border-color: white;
}

.image__brands_config {
    width: 80px;
}

.content_box {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.section__text_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

}

.section__text_flex .box__text_flex {

    height: 100px;
}


.section__opinion_flex .photo_leader {
    height: 80px;
    padding: 5px;

}


.menu-logo {
    background-color: black;
    width: 100%; 
    height: 120px;
    position: fixed;
}

.brands .box__brands {
    margin-left: 100px;
    width: 230px;
    height: 100px;
}


.section__news_flex .box__news_flex {
    width: 400px; 

    padding: 20px;
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dcdcdc;

}



.section_tech .content_box_text {
    padding: 20px;
    height: 550px;
    width: 400px;
    margin-top:20px;
    background-color: #dcdcdc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section__news_flex .box__news_flex .img__news_flex{
    width: 70%;
}

.image__config{
    width: 240px;

}


.contact {

    padding: 100px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}


.contact .form{
    background-color: white;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 40px;
}


.contact .form .comp-form {
    width: 300px;
    padding: 10px;

}

@media (min-width: 600px) {

    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "brands                 brands"
            "sidebar                content__bar"
            "section__opinion_flex  section__opinion_flex";
    }


    .menu-logo {
        height: 100px;
    }

    .brands .box__brands {
        height: 40px;
    }

    .section_tech .content_box_text {
        width: 400px;
        height: 300px;
    }

    .section__opinion_flex .box__opinion_flex{
        height: 100px;
    }

    .section__news_flex .box__news_flex .img__news_flex{
        width: 90%;
    }

    .image__config{
        width: 680px;
    
    }

    .contact .form {
        margin-bottom: 0px;
    }

    .contact .form .comp-form {
        width: 400px;
        padding: 10px;
    
    }

}


.section-blog {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 0px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.box__blog {
    width: 670px; 

    padding-right: 120px;
    padding-left: 40px;
}



.separator {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    height: 50px;
}





.contact .table-contact {
    background-color: white;
    width: 600px;
    height: 400px;
}

table {
    padding: 30px;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }



input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }

  input[type=submit] {
    background-color: #04AA6D;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.section-image-center {
    margin: 50px;
    overflow: hidden;

}

.news-image-center {
    position: relative;
    left: 33%;
}

.blog-text-center {
    padding-top:20px;
    margin: 0px;

    height: 250px;
}

#whatsapp{
    position: fixed;
    right: 60px;
    bottom: 20px;
}

#icowhatsapp{
    width: 50px;
    height: 50px;
}

.menu-footer {
    background-color: #99A5DF;
    width: 100%; 
    height: 70px;
    position: fixed;
}